*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFCDB2; 
    background-image: linear-gradient(315deg, #FFCDB2 0%, #e5989b 74%);
}

.buttom-menu{
    text-align: center; 
    background-color: honeydew;
    background-position: 50% 25%;
    padding: 15px;
} 
.buttom{
    text-align: center ;
    background-color:#b5838d ;
    color:ivory;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;    
}

.name {
    text-align: center; 
    font-size: 25px;
    color: #6D6875;    
}

.profile-container{
    padding: 30px 70px 60px 30px;
    margin: auto;
    width: 80%;    
    
}
.profile{
    margin: 20px;
    text-align: center;
    width: 40%;
    display: inline-block;
}
.image{
    border-radius:25%;
    padding: 5px;
    background-color: white;
}

.trybe{
    text-decoration: none;
    font-family:'Patrick hand', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 20px;
    
}
.header-content{
    text-align: center;
}

.content{
    display: inline-block;
    padding: 30px 70px 90px 70px;
    margin: auto;

}
.content h4{
    font-size: 24px;
    color:#6D6875;
    line-height: 40px;   
}

.content ul{
    text-align: left;
    padding:20px;
    font-size: 18px;
}

.content ul li:nth-of-type(2n+1){
    font-style: italic;
}

.social_media {
    text-align: center;   
    padding-top: 20px;
}
.social_media a{
    padding: 10px;
}

.icones {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
}
html {
    scroll-behavior: smooth;
} 