* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFCDB2; 
    background-image: linear-gradient(315deg, #FFCDB2 0%, #e5989b 74%);
}

.buttom-menu {
    text-align: center; 
    background-color: honeydew;
    background-position: 50% 25%;
    padding: 25px;
    border-bottom: 1px solid #adb5bd;
}

.buttom {
    text-align: center ;
    background-color:#b5838d ;
    color:ivory;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    opacity: 0.5;
}
.buttom:hover{
    opacity: 1;
}

.name {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: white;
    margin: 60px;
}

.profile-container {
    display: flex;
    justify-content: center;
    max-width: 100%; 
    min-height: 300px;
}
.profile{
    width: 50%;
    margin: 15px;
}
.image {
    border-radius:25%;
    padding: 5px;
    background-color: white;
}

.trybe{
    text-decoration: none;
    font-family:'Patrick hand', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 20px;
    
}
.header-content{
    display: flex;
    text-align: center;
    min-height: 320px;
    box-sizing: border-box;
    justify-content: center;
}

.content{
    display: flex;
    align-content: center;
    padding: 50px 20px;
    margin: 10px;
    background-color: honeydew;
    border-radius: 25px;
    box-shadow: 10px 5px 5px grey;
    flex-direction: column;
    min-width: 190px;
    flex-wrap: wrap;
    
   
}
.content h4{
    display: flex;
    justify-content: center;
    font-size: 24px;
    color:#6D6875;
    line-height: 40px;
   
}

.content ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding:20px;
    font-size: 18px;
    list-style-type: none; 
}

.social_media {
    text-align: center;   
    padding-top: 20px;
}
.social_media a{
    padding: 10px;
}
.icones {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
}
html {
    scroll-behavior: smooth;
} 

#projects {
    text-decoration: none;
}