.name {
    text-align: center; 
    font-size: 25px;
    color: #6D6875;    
}
.buttom-menu{
    text-align: center; 
    font-size: 17px;    
    line-height: 20px;
    } 

.profile-container{
    padding: 30px 70px 90px 70px;
    width: 80%;
    margin: auto;
    
}
.profile{
    margin: 40px;
    text-align: center;
    width: 40%;
    display: inline-block;
}

.image{
    border-radius:20%;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFCDB2; 
    background-image: linear-gradient(315deg, #FFCDB2 0%, #e5989b 74%);
}
h4{
    font-size: 24px;
    text-align: left;
    padding-left:20px;
    color:#1a535c;
    line-height: 8px;   
}
ul{
    text-align: left;
    padding-left:60px;
    font-size: 18px;
}

.buttom{
    text-align: center ;
    background-color:#b5838d ;
    color:ivory;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    line-height: 25px;    
}

.social_media{
    padding: 10px;
}

html {
    scroll-behavior: smooth;
    } 

